# === Environment
.env

# === VS Code ===
.vscode/
.history/

# === Logs / cache ===
*.log
*.cache

# === OS files (Windows) ===
Thumbs.db
ehthumbs.db
Desktop.ini

# === Tailwind ===
node_modules

# === Database ===
db.php